body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.modal-title{
  color: black;
}

.modaltekst{
  color: black;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.navbar-brand{
  padding-left: 40px;
}

.deletebutton{
  width: 60px;

}

.btn btn-info{
  padding-bottom: 5px;
}


